

*::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  background-color: rgba(0, 0, 0,.7);
}

body > div {
  margin-left: 20vw;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; 
}

@media only screen and (max-width: 900px) {

  body > div {
    margin-left: 0;
  }
}


@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

